.square {
  width: 40px;
  height: 40px;
  background-color: lightgray;
  border: 3px solid white;
  float: left;
  border-radius: 10px;

  transition: background-color .5s;
}

.square:hover {
  background-color: red;
}

.row {
  width: 460px;
  height: 46px;
  background-color: white;
}
